@import './scss/_variables.scss';

body {
  font-family: 'Linden Hill', sans-serif;
  background: $DarkBG;
  color: $Light;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Make sure the body takes up the full viewport height
  margin: 0;
  
  #root {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background: $DarkBG;
    
    h1, h2, h3, h4, h5, h6 {
        color: $LightYellow;
    }

    .timelineStyling {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 1154px;
      margin: 0 auto;
    }
    
    article {
      .listH3 {
        font-family: Linden Hill;
        font-size: 1.5rem;
        font-weight: 400;
        color: $Light !important;
    }

    a {
      color: $Light;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      
        img {
          filter: invert(100);
          height: 38px;
          width: 38px;
        }
      }
  
    }

    hr {
      height: 24px;
      background: $Dark;
      border: none;
      margin: 0; 
    }

  }

  .listItem {
    padding: 1rem;
  }
  
  .listItem:nth-child(odd) {
    border-right: solid 1px $LightYellow;
    text-align: right;
    padding-right: 4rem;
  
    h3 {
      border-bottom: solid 2px $LightYellow;
    }
  
    p, a {
      padding-right: 8rem;
    }
  }
  
  .listItem:nth-child(even) {
    border-left: solid 1px $LightYellow;
    text-align: left;
    padding-left: 4rem;
    padding-top: 200px;
  
    h3 {
      border-bottom: solid 2px $LightYellow;
    }
  
    p, a {
      padding-left: 8rem;
    }
  }

  .aboutStyling {
    width: 1154px;
    margin: 0 auto;

    a {
      color: $LightYellow;
    }
  }
}
