// Fonts
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Linden+Hill:ital@0;1&display=swap');

// Text color
$Dark: #1F1F1F;
$Light: #FFFFFF;

// Backgroung color
$LightBG: #F5F5F5;
$DarkBG: #151515;

// Other colors
$LightOrange: #FFE9BF;
$DarkOrange: #D29E62;
$DarkYellow: #695E48;
$LightYellow: #C7BD8D;